body
{
    background-color:rgba(24, 24, 24,255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;  
    color: white;
}
#log
{
    background-color: rgba(32,32,32,255);
    color:white;
    width:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:150px;
    padding: 50px;
    -webkit-box-shadow: 3px 3px 20px 5px rgba(50,50,50,1);
    -moz-box-shadow: 3px 3px 20px 5px rgba(50,50,50,1);
    box-shadow: 3px 3px 20px 5px rgba(50,50,50,1);

}
input[type="text"],
input[type="password"]
{
    width: 300px;
    background-color: #efefef;
    color:black;
    border:2px solid #202020;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
    box-sizing: border-box;
    outline: none;
    margin-top:10px;
}
input[type="text"]:focus,
input[type="password"]:focus
{
    -webkit-box-shadow: 0px 0px 15px 2px rgb(99, 93, 93);
    -moz-box-shadow: 0px 0px 15px 2px rgb(99, 93, 93);
    box-shadow: 0px 0px 15px 2px rgb(99, 93, 93);
    border:2px solid rgb(238, 175, 175); 
    background-color: rgb(248, 230, 230); 

}

input[type="submit"]
{
    width:300px;
    background-color: rgb(219, 15, 15);
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top:10px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin-top:30px;
}
input[type="submit"]:hover
{
    background-color: rgb(243, 59, 59); ;
}
#log a
{
    text-decoration: none;
    color: #efefef;
}
#reg
{
    background-color: rgba(32,32,32,255);
    color:white;
    width:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:150px;
    padding: 50px;
    -webkit-box-shadow: 3px 3px 20px 5px rgba(50,50,50,1);
    -moz-box-shadow: 3px 3px 20px 5px rgba(50,50,50,1);
    box-shadow: 3px 3px 20px 5px rgba(50,50,50,1);

}
input[type="text"],
input[type="password"]

{
    width: 300px;
    background-color: #efefef;
    color:black;
    border:2px solid #202020;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
    box-sizing: border-box;
    outline: none;
    margin-top:10px;
}
input[type="text"]:focus,
input[type="password"]:focus
{
    -webkit-box-shadow: 0px 0px 15px 2px rgb(99, 93, 93);
    -moz-box-shadow: 0px 0px 15px 2px rgb(99, 93, 93);
    box-shadow: 0px 0px 15px 2px rgb(99, 93, 93);
    border:2px solid rgb(238, 175, 175); 
    background-color: rgb(248, 230, 230); 

}

input[type="submit"]
{
    width:300px;
    background-color: rgb(219, 15, 15);
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top:10px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin-top:30px;
}

input[type="submit"]:hover
{
    background-color: rgb(243, 59, 59); ;
}
#reg a
{   margin-top: 30px;
    text-decoration: none;
    color: #efefef;
}
input[type="checkbox"]
{
    margin-top: 20px;
}

#container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;   
    /* //position:relative; */
}
#header{
    height: 45px;
    width: 100%;;
    padding:10px 0;
    
}

#menu{
    clear: both;
    width: 100%;
    background-color: rgba(32,32,32,255);
    padding: 10px 0;
    text-align: center;
    
}





.sticky{
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index: 100;
}
#main{    
    width: 1000px;
    height: auto;
    margin: auto;
   
}
p{font-size: 70px;}
ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}
ol a{
    color: white;
    text-decoration: none;
    display: block;
}
ol > li{
    float: left;
    width: 200px;
    height: 40px;
    
    
}
#menu ol>li:hover{ background-color: rgb(83, 82, 82);border-top-left-radius: 10px;border-top-right-radius: 10px;}
ol>li>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
    
}
ol>li>ul>a>li{
    background-color: rgb(83, 82, 82);

    position: relative;
    z-index: 100;
    
    
   

}
ol>li>ul>a:last-child>li{
    border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
ol>li>ul>a>li:hover{
    background-color: rgba(32,32,32,255);
    cursor: pointer;
}
ol>li:hover>ul{
    display: block;
    
}

#sticky{
    background-color: rgba(23,23,23,255);
}
#konto{
float: right;
font-size: 15px;
margin-right: 150px;
margin-top: 10px;
text-align: center;

}
#konto>a{
text-decoration: none;
color: white;
}
#wyloguj{
    float: right;
    font-size: 15px;
    margin-right: 150px;
    margin-top: 10px;
    text-align: center;
    
    }
    #wyloguj>a{
    text-decoration: none;
    color: white;
    }
#koszyk{
float: right;
font-size: 15px;
margin-right: 150px;
margin-top: 10px;
text-align: center;
}
#koszyk>a{
text-decoration: none;
color: white;
}
#logo{float:left}
#ad{text-align: center;width: 1000px;height: 300px;border-radius: 30px;background-color: rgb(219, 15, 15);margin-top: 50px;margin-bottom: 20px;}
#ad b {font-size: 120px;}
#okazje{width: 1000px;margin-top: 20px;
height:600px;
 }
#okazje div{
    width: 100%;height: 100%;margin:0;background-color: rgb(35, 35, 35);border-radius: 5%;
}
#okazje div h5{
   font-size:50px;
   margin:0;
   text-align: center;
   
   
}
#okazje s{
    font-size: 40px;
   width: 50%;
   margin-left: 60%;
    margin-top:50px;
   
    display: block;
   
}
#okazje span{
font-size: 150px;
display: block;
margin-left: 60%;
margin-top:50px;

}
#okazje div img{
    margin-left: 50px;
    margin-top:20px;
    float: left;
}



#okazje button{
    background-color: red;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    bottom: 0;
    margin-left: 60%;
    margin-top: 60px;
    display: block;
}
#stopka{background-color:rgba(23,23,23,255);height: 
300px;text-align: center;margin-top: 30px;}
#kontakt{width: 1000px;margin: auto;}
#kontakt a{float: left;color: white;margin-right:50px}
#kontakt a:first-child{margin-left: 30px;}
p{  
    text-align: center;
    color: white;
}
a{
    text-align: center;
text-decoration: none;
color: white;
}
#powitanie
{   
    text-align: center;
}
#podsumowanie{
   margin: auto;
    width:800px;
    background-color:rgba(23,23,23,255);height: 
    200px;
    font-size: 20px;
    text-align: center;
    clear: both;
    margin-top: auto;
}
#podsumowanie>{
    text-align: center;
}
#podsumowanie h6{
    font-size: 20px;
    text-align: center;

}

#basket-views{
    margin: auto;
    width: 800px;
    height: auto;
}
#basket-views div{
    text-align: center;
    width: 100%;
   height: auto;
   margin-top: 10px;
   
}
#basket-views div div{
margin: 0;;
}
#basket-views div img{
    margin: 0;
    float: left;
}
#basket-views div h5{
    
    float: left;
}

#basket-views div button{
    
    float: right;
}

#nav{
    float:left;
width: 200px;
height: auto;
background-color: rgb(35, 35, 35);border-radius: 3%;
margin: 25px 25px;
    
}
#nav p{
    font-size: 30px;
    text-align: center
}
/* #lista{
    float:left;
}
#lista div{
    width:700 ;
    margin: 25px;
    height: 200px;
    border-radius: 6%;
    background-color:rgba(30,30,30);
} */
#lista{width: 700px;margin-top: 0px ;margin-left: 15px;margin-right: 0px;float:left;
     }
    #lista div{
        width: 100%;height: 250px;margin: 25px;background-color: rgb(35, 35, 35);border-radius: 5%;
        
    }
    .nazwa{
         font-size: 25px;line-height: 100%;text-align: center;line-height: 180px;margin: 0;height: 100px;
    }
    .cena{
        font-size: 50px;margin: 0;
    }

    #lista button{
        background-color: red;
        font-size: 25px;
        border-radius: 10px;
        border: none;
        margin-left: 25px;
        margin-top: 55px;
       font-weight: bold;
    }
    #lista img{
        width: 150px;float: left;
        margin: 15px;
    }
    #nav input[type="submit"]{
        width: 100px;
        margin-top:15px;
        margin-left: 40px;
        margin-bottom: 15px;
    }
    #logo2 {
    
           font-size: 48px;
    }
    #basket-views div{
        margin: 0;
    }
    #basket-views div div{
        margin: 20px 10px;
       
     }
     #basket-views div div :nth-child(1){
       margin: 15px;
      
    }
    #basket-views div div :nth-child(2){
        font-size: 110%;
        margin-left: 30px;
        margin-right: 100px;
       
    }
    #basket-views div div :nth-child(3){
        font-size: 40px;
        margin-left: 50px;
        /* /* line-height: 150px; */
        float: left ;
        margin-right: 100px;
        
    } 
    #basket-views div div button{
        /* margin-right: 50px;
        margin-left: 100px; */
        float: right;
    }
  h6{
      text-align: center;
  } 
  #basket-views div{
      margin: auto;
      width: 800px;
      min-height: 200px;
  }
#zamow{

    width:300px;
    background-color: rgb(219, 15, 15);
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top:10px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin-top:30px;
}

#zamow:hover{
    background-color: rgb(243, 59, 59); ;
}

 #ilosc{
     
   width:40px;
   height: 50px;
     float: right;
     font-size: 10px;
     background-color: rgb(35, 35, 35);
     color: white;
     border-radius: 5px;
     border: 1px solid white;
 }